/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Baloo Thambi', sans-serif;
    
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}
@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color:floralwhite;
    font-family: 'Ubuntu', sans-serif;
}
header {
    font-family: 'Ubuntu', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.mylogga{
    height: 30px;
    margin-right:1em;
}
.updown{
    height: 1em;
}
.myTbBox {      
    white-space: nowrap;
}
.myBtnTb {
    white-space: nowrap;
    margin-left:.5em;
}

.myBtnDetails {
    white-space: nowrap;

}
.allBtnTB {
    font-size:80%;
    /*white-space: nowrap;*/
}

.Gobig {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    background-color: #938c8c;
    color: white;
    font-size: 1.2em;
    
}
.wider {
    width: 100%;   
    margin: 0em 0.5em 0.5em 0;
}
.status_header {
    background-color: #4d4747;
    padding:4px;
}

.status_typ {
    color: whitesmoke;
    font-size: 1.2em;
    margin: 1em;
    
}
.status_place {
    color: cornsilk;
    
    font-style: normal;
    font-size: .7em;
    padding-top: 4px;
}
.header_table {
    padding-left: 10px;
    background-color:antiquewhite;
}
.table-borderless td,
.table-borderless th {
    border:0;
    border-top:1px solid;
    border-top-color:bisque;
}



.extra-pad {
    padding-bottom: 1em;

}
.stat_head {
    background-color: antiquewhite;
    margin-bottom: .5em;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
