@model Garage_2._0_MPT.Models.ParkingsHouseStatusViewModel

<div class="row Gobig">
    <table class="align-self-center border-dark wider">

        <thead>
            <tr><th class="status_header " colspan="4">Next available places</th></tr>
            <tr class="status_body">
                @foreach (var item in Model.NextFree)
                {
                    <th><span class="status_typ">@item.Key </span><span class="status_place">@item.Value</span> </th>
                }
            </tr>
        </thead>



    </table>

</div>