@model Garage_2._0_MPT.Models.ParkedVehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ParkedVehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkInDate" class="control-label"></label>
                <input asp-for="ParkInDate" class="form-control" />
                <span asp-validation-for="ParkInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkOutDate" class="control-label"></label>
                <input asp-for="ParkOutDate" class="form-control" />
                <span asp-validation-for="ParkOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Where" class="control-label"></label>
                <input asp-for="Where" class="form-control" />
                <span asp-validation-for="Where" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
